<hibernate-configuration>

    <session-factory>
 <property name="show_sql">true</property>
        <property name="format_sql">true</property>
       <property name="hibernate.dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:mydb.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="model.Saving" />
		<mapping class="model.Transfer" />
		<mapping class="model.BorrowedThing" />
		<mapping class="model.Event" />
		<mapping class="model.Category" />
		<mapping class="model.Person" />
		<mapping class="model.Balance" />
		<mapping class="model.Item" />
		<mapping class="model.Language" />
    </session-factory>
</hibernate-configuration>
